{
    "root": true,
    "env": { "browser": true, "es2020": true },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:react-hooks/recommended"
    ],
    "plugins": ["react-refresh"],
    "parserOptions": {
        "sourceType": "module"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }]
    }
}
